<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="" class="form-label">NUMERO</label>
        <input type="number"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="NUMERO">
    </div><div class="mb-3">
        <label for="" class="form-label">HORA</label>
        <input type="time"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="HORA">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">ESTADO</label>
        <input type="number"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="ESTADO">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">USUARIO</label>
        <input type="number"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Identificacion">
    </div>
</form>