<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre">
    </div><div class="mb-3">
        <label for="" class="form-label">Apellido</label>
        <input type="text"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Apellido">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="tel"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Telefono">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Identificacion</label>
        <input type="number"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Identificacion">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Staff</label>
        <input type="select"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Staff">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Foto</label>
        <input type="image"
         class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre">
        </div>
        </div>
</form>